* {
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .svg-container {
    width: 50%;
    padding-top: 30%;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .svg-container {
    width: 33.33%;
    padding-top: 20%;
  }
}

@media (min-width: 993px) {
  .svg-container {
    width: 25%;
    padding-top: 15%;
  }
}

.svg-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.svg-content-responsive {
  display: inline-block;
  height: 98.33%;
  left: 0;
  position: absolute;
  top: 0;
  width: 99%;
}

.svg-container:nth-child(-n+4)>.svg-content-responsive {
  background-color: rgba(0, 186, 54, 0.2);
}

.svg-container:nth-child(n+5)>.svg-content-responsive {
  background-color: rgba(0, 97, 186, 0.2);
}

.svg-container:last-child>.svg-content-responsive {
  background-color: rgba(186, 0, 0, 0.2);
}